{% extends 'base.html' %}
{% load static %}

{% block page_content %}
<div class="cold-md-8">
    <h1>JeanPy Blog</h1>
    <hr>
    {% for post in posts %}
        <h2><a href="{% url 'blog_detail' post.pk %}">{{ post.title }}</a></h2>
        <small>
            {{ post.created_on.date }} |&nbsp;
            Categories:&nbsp;
            {% for category in post.categories.all %}
            <a href="{% url 'blog_category' category.name %}">
                {{ category.name }}
            </a>&nbsp;
            {% endfor %}
        </small>
        <img class="card-img-top" src="{% static blog.image %}">
        <p>{{ post.body | slice:':400' }}...</p>
        <button type="button" class="btn-sm btn-outline-info btn-link">
            <a href="{% url 'blog_detail' post.pk %}">
                Read more
            </a>
        </button>
        <br>
        <br>
    {% endfor %}
</div>
{% endblock page_content %}