
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

db.sqlite3
Portfolio2022/__pycache__
# static/
staticfiles/
data/
# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

venv
venv/
.venv
.venv/
.vscode
vscode
venv/pyvenv.cfg
